body{
    background-color: #1B59A4;
}
.leftMenu
{
    position: fixed;
    top: 10%;
    left:10px;  
    width: 180px;
    height: 100vh;
    
}
.leftMenu ul{
    list-style: none;
    padding: 0;
}
.leftMenu ul li i{
    display: block;
    margin-top: 40px;
    font-size: 50px;
    
}
.icon-mirco {
   background-color: white;  
}
.icon-mirco i{
    padding: 18px 18px 0;
}
.icon-mirco span{
    display: inline-block;
    padding: 0 0 5px 12px;
    color: #5482BB;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;

}
.fa-microsoft{
    color: #1B59A4;   
}
.fa-desktop{
    color: white;
    margin-left: 5px;
}
.customer{
    width: 84%;
    margin: auto;
    height: 100vh;
}
.container{
    min-height: 1000px !important;
    background-color: white;
    margin: 0 !important;
}
.first-content{
    display: flex;
    justify-content: space-between;
}
.left-content{
    width: 45%;
    padding: 25px 0 10px;
}
.left-content p{
    color: #74C3F3;
    font-size: 21px;
    transform: translateY(22px);

}
.right-content{
    width: 40%;
    text-align: right;
    padding: 25px 0 10px;

}
.right-content span{
    color: #868686;
    font-weight: 700;
    font-size:21px ;
    text-transform: capitalize;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
.right-content .icon{
    border: 2px solid #868686;
    width: 45px;
    height: 45px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.right-content i{
    color: #868686;
    font-size: 30px;
    padding: 11px 6px;
}
.box {
    background-color: #F4F4F4;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: -1px 0px 12px 0px #E1E1E1;

}
.box p{
    font-size: 23px;
    color: #969696;
    text-transform: capitalize;
    font-weight: bold;
}
.box i{
    font-size: 57px;
    color: #98CA68;
    transform: translateY(10px);
    margin-right: 12px;
}
.box .icon{
    width: 70px;
    height: 70px;
    background-color: #98CA68;
    border: 1px solid transparent;
    border-radius: 50%;
    padding-left: 12px;
    margin-right: 17px;
    line-height: 70px;
}
.box .icon i{
    font-size: 40px;
    color: white;
}